$title:48px;
$primary-color:#0275D8;
$warning-color:#F5A623;
$label:24px;
$small:14px;

// #form1,
// #form2,
// #form3,
// #form4,
// #form5 {
//     height: 0;
//     overflow: hidden;
// }

body {
    font-family: 'Roboto', 'Open Sans', sans-serif, FontAwesome;
    padding-bottom: 41px;
}


.active {
    i {
        color: $primary-color !important;
    }

    &:after {
        background: $primary-color !important;
    }
}

#progressbar {
    margin-top: 57px;
    margin-bottom: 34px;
    justify-content: center;

    li:last-child {
        color: lighten($primary-color, 40%);
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    li:not(:last-child) {
        width: 10%;
        position: relative;
        display: flex;
        align-items: center;

        &:last-child:after {
            content: none;
        }

        &:after {
            content: '';
            background: lighten($primary-color, 40%);
            position: absolute;
            width: 85%;
            height: 2px;
            right: 0;
        }

        i {
            color: lighten($primary-color, 40%);
            font-size: 20px;
        }

    }
}

#profile {
    width: 93%;

    div {
        height: 140px;
        background-position: center center;
        background-size: cover;
        position: relative;
        border-radius: 8px;
        cursor: pointer;

        &:hover::before {
            content: url(../trash.png);
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 28px;
            color: #fff;
            text-align: center;
            line-height: 52px;
            border-radius: 0px 0px 8px 8px;
            background-color: lighten($primary-color, 5%);
        }
    }
}

#direct {
    font-style: italic;
    color: lighten($primary-color, 10%);
}

#brand {
    margin-right: 8px;
    position: absolute;
    right: 10px;
    top: 40px;
    color: #9B9B9B;
    cursor: pointer;
}

#photo {
    height: 140px;
    border: 2px solid #000;
    color: #9B9B9B;
    cursor: pointer;
    text-align: left;

    i {
        margin-right: 0.5em;
    }
}

h1 {
    font-size: $title;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}

#smile {
    font-size: 230px;
    width: 230px;
    height: 230px;
    line-height: 230px;
    text-align: center;
    color: lighten($primary-color, 45%);
}

label {
    text-align: left;
    font-size: $label;
    display: block;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 15px;
}

form {
    margin-top: 1rem !important;


    span {
        font-size: $small;
    }
}

.form-control,
[type="submit"] {
    display: inline-block !important;
    width: 95%;
}

.col,
.col-12 {
    margin-bottom: 16px;
}

.valid {
    border: 1px solid #ced4da !important;
}

#warnpic {
    height: 52px;
    border-radius: 8px;
    background: $warning-color;
    color: #fff;
    display: block;
    text-align: center;

    span,
    i {
        font-size: 18px;
    }
}

input:invalid {
    border: 2px solid $warning-color !important;
    position: relative;

    &:invalid+i {
        color: $warning-color;
        position: absolute;
        z-index: 100;
        right: 13%;
        line-height: 40px;
        display: inline-block !important;
    }

    &:invalid~span {
        position: relative;
        z-index: 100;


        &::before {
            content: attr(data-tooltip);
            border-radius: 4px;
            background-color: $warning-color;
            color: #fff;
            padding: 10px;
            font-size: $small;
            position: absolute;
            left: 100%;
            top: -50%;
            margin-left: 14px;
            white-space: pre; //避免中間有空白會自動換行
            height: 30px;
        }


    }
}

.required {
    //必填樣式
    border: 1px solid red !important;
}

.w-100 input {
    width: 93%;
}

#twzipcode {
    width: 97%;
}

#form3 form {
    width: 463px;
}


@media(max-width: 768px) {

    #phoneBlock,
    #nameBlock,
    #yearBlock,
    #cvvBlock {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .w-100 input {
        width: 97%;
    }

    #monthBlock,
    #dayBlock {
        margin-top: 16px;

        label {
            display: none;
        }
    }
}

@media(max-width: 515px) {
    h1 {
        font-size: 40px;
    }

    #form3 form {
        width: 380px;
    }
}

@media(max-width: 435px) {
    h1 {
        font-size: 30px;
    }

    #form3 form {
        width: 280px;
    }

    #direct {
        font-size: 16px;
    }
}